<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

    <welcome-file-list>
        <welcome-file>comentaris</welcome-file>
    </welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/escert</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<error-page>
    <error-code>403</error-code>
	    <location>/403.html</location>
	</error-page>
	<error-page>
	    <location>/error.html</location>
	</error-page>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

</web-app>
